<!DOCTYPE html>
<html>

<head>
  <title>Flask app</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="navigation-bar">
    <div id="navigation-container">
      <h2 class="logo">MATEVŽ KNEZ</h2>   
      <ul class="nav">
        <li class="active" ><a href={{ url_for('home') }}>Home</a>
        <li><a href={{ url_for('projects') }}>Projects</a>
        <li><a href={{ url_for('certificates') }}>Certificates</a>
        <li><a href={{ url_for('contact_me') }}>Contact me</a>
      </ul>
    </div>
  </div>
  <img class="img" src="/static/program.png">
  <div class="iam">
    <span>I am 14 years old and I am self-taught developer. Now I am learning web development with html, css and flask.</span>
  </div>
  <hr class="rounded">
  <div class="prolang">
    <span class="tech">Technologies i work with</span>
    <div class="row">
      <div class="column">
        <img src="/static/Python_logo_and_wordmark.svg.png" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/1200px-HTML5_logo_and_wordmark.svg.png" style="width:100%">
      </div>
      <div class="column">
        <img src="/static/CSS3_logo_and_wordmark.svg.png" style="width:71%">
      </div>
</body>

</html>