<!DOCTYPE html>
<html>

<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navigation-bar">
        <div id="navigation-container">
            <h2 class="logo">MATEVŽ KNEZ</h2>   
            <ul class="nav">
                <li class="hide"><a href={{ url_for('home') }}>Home</a>
                <li class="hide"><a href={{ url_for('projects') }}>Projects</a>
                <li class="hide"><a href={{ url_for('certificates') }}>Certificates</a>
                <li class="hide"><a href={{ url_for('contact_me') }}>Contact me</a>
            </ul>
        </div>
    </div>
    <img class="img" src="/static/program.png">
    <div class="projects text">
        <span>
            I didn't make a lot of big projects but i am planning to make some. 
            This website</a> is my first bigger project.
        </span>
        <p>If you want to se the github repository of the website 
        click <a href="https://github.com/Tevzi26/Portfolio-website" target="_blank" class="link">here</a></p>
    </div>
</body>

</html>